{%extends 'base.html' %}
{% load static%}


{% block Main_Content %}

<large-card 
img_path = 'static/img/Oh_Yeah.jpg' 
h1 = "Epic Card Example"
p = 'Hello world'
></large-card>

<large-card 
img_path = 'static/img/Shrek.jpg' 
h1 = "Epic Card Example"
p = 'Hello world'
></large-card>

<large-card 
h1 = "Epic Card Example"
p = 'Hello world'
></large-card>

<large-card 
h1 = "Epic Card Example"
p = 'Hello world'
></large-card>

<large-card 
h1 = "Epic Card Example"
p = 'Hello world'
></large-card>




{% endblock Main_Content %}