/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Custom varibles to keep website consistant  */
:root{
  --main-color: #ffffff;
  --secondary-color:#1A4A5A;
  --thrid-color:#bfe79e;
  --light-blue:#58f7f7;
  --dark-blue:#0E2C40;
  --side-margin:20vw;

  --background-color: rgb(199, 226, 231);

  --large-card-margin:3%;

}

/* Hide x-axis over flow */
html, body {
    overflow-x: hidden;
    background-color: var(--background-color);
}


 /* Navbar Code --------------------------------------------------------- */
.navbar {

    width:100%;
    padding: 15px 30px;


    display: flex;
    justify-content: space-between;
    align-items: center;


    position: fixed;
    background-color: var(--main-color);

    border-bottom: 2px solid rgb(231, 229, 229);
    border-radius: 5px;
    
}

.nav_logo {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--light-blue);
}

.nav-spacer{
  width: 100px;
  height: 100px;
}

/* Navbar Code End --------------------------------------------------------- */


/* Info card --------------------------------------------------------- */
 .large_card{
  background-color: white;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);

  margin-left: var(--side-margin);
  margin-right: var(--side-margin);

  margin-bottom: 20px;

  padding: 20px;
 }

 .large_card img{

  width: 100%;
  max-width: 600px;

  display: block;
  margin: 0 auto;

 }

 .large_card h1{

  margin-left: var(--large-card-margin);
  margin-right: var(--large-card-margin);
 }

.large_card p{
  margin-left: var(--large-card-margin);
  margin-right: var(--large-card-margin);
}

